<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col cartao">
    <div class="card">
      <img src="/images/dia_da_felicidade-1200X600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ágape - amor em ação</h5>
        <p class="card-text">Amor Ágape é se preocupar com a felicidade de todos em nossa volta. É ser incomodado com aqueles que sofrem e descruzar os braços para fazer diferença.
          Pertencer a esse grupo é  motivo de nossa felicidade. Fazer o bem ao próximo é motivo de nossa felicidade.
          Ter diversos apoiadores, pessoas acreditando na nossa causa e trabalho, é motivo de nossa felicidade. 
          Gratidão transborda por aqui! Que todos possam perceber sua missão no mundo e transbordar felicidade!
          E neste dia da felicidade o ágape traz um bingo para relembrar nossos momentos nas ações.
          Diz ai, quantos pontos vocês marcaram? 🤩🥰
          #diadafelicidade #voluntários #amoremação #amoragape #felicidade</p>
      </div>
    </div>
  </div>
  <div class="col cartao">
    <div class="card">
      <img src="/images/agape-pascoa-1200X600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ágape - amor em ação está em Joinville.</h5>
        <p class="card-text">A Páscoa é tempo de transform(ação), de celebrar a vida e renovar o espírito.
          Nesta Páscoa queremos transformar doces em sorrisos, mas para isso precisamos da sua ajuda!
          📌*Você pode deixar sua doação até dia 01/04 em um dos pontos de coleta:*
          - Paróquia Perpétuo Socorro (Almirante Jaceguay, 2818 Costa e Silva)
          - Casa China Rua das Palmeiras (Rua do príncipe, 464 Centro)
          - Espaço Life in music (Rua Santo Agostinho, 239 Guanabara)
          - Fort Atacadista Costa e Silva (Rua Almirante Jaceguay, 2951)
          Ou se preferir, pode doar em dinheiro através da chave PIX: somosagapejlle@gmail.com (realizamos prestação de contas no final da campanha!). Para outras formas de contribuir.</p>
      </div>
    </div>
  </div>
  <div class="col cartao">
    <div class="card">
      <img src="/images/agape-pascoa-1200X600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ágape - amor em ação está em Joinville.</h5>
        <p class="card-text">A Páscoa é tempo de transform(ação), de celebrar a vida e renovar o espírito.
          Nesta Páscoa queremos transformar doces em sorrisos, mas para isso precisamos da sua ajuda!
          📌*Você pode deixar sua doação até dia 01/04 em um dos pontos de coleta:*
          - Paróquia Perpétuo Socorro (Almirante Jaceguay, 2818 Costa e Silva)
          - Casa China Rua das Palmeiras (Rua do príncipe, 464 Centro)
          - Espaço Life in music (Rua Santo Agostinho, 239 Guanabara)
          - Fort Atacadista Costa e Silva (Rua Almirante Jaceguay, 2951)
          Ou se preferir, pode doar em dinheiro através da chave PIX: somosagapejlle@gmail.com (realizamos prestação de contas no final da campanha!). Para outras formas de contribuir.</p>
      </div>
    </div>
  </div>
  <div class="col cartao">
    <div class="card">
      <img src="/images/dia_da_felicidade-1200X600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ágape - amor em ação</h5>
        <p class="card-text">Amor Ágape é se preocupar com a felicidade de todos em nossa volta. É ser incomodado com aqueles que sofrem e descruzar os braços para fazer diferença.
          Pertencer a esse grupo é  motivo de nossa felicidade. Fazer o bem ao próximo é motivo de nossa felicidade.
          Ter diversos apoiadores, pessoas acreditando na nossa causa e trabalho, é motivo de nossa felicidade. 
          Gratidão transborda por aqui! Que todos possam perceber sua missão no mundo e transbordar felicidade!
          E neste dia da felicidade o ágape traz um bingo para relembrar nossos momentos nas ações.
          Diz ai, quantos pontos vocês marcaram? 🤩🥰
          #diadafelicidade #voluntários #amoremação #amoragape #felicidade</p>
      </div>
    </div>
  </div>
</div>